<!DOCTYPE html>
<html lang="en-IN">
    <head>
        <meta charset="utf-8"/>
        <link href="./new_design.css" rel='stylesheet' type="text/css"/>
        <meta name="viewport" content="device-width:100%,initial-scale=1.0;"/>
    </head>
    <body>
        <div id="parent">
        <div class="logo">
            <img src="./static/logo-small.png"/>
        </div>
        <nav class="header">
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <hr/>
        </nav>
        <div class="contents">
            <div>
                <p>Contents</p>
                <ul>
                    <li><a href="#1">Subheading 1</a></li>
                    <li><a href="#2">Subheading 2</a></li>
                    <li><a href="#3">Subheading 3</a></li>
                </ul>
            </div>
        </div>
        <div class="main">
        <div class="container">
            <h1>Title goes here</h1>
            <hr/>
            <h3 id="1">Sub headings</h3>
            <pre>
            fsfjdkfjsfksl
            dfsdafjdskfsl
            fsdfjsdkflsdflsf
            fsfksdjfsdklfjsf
            fsfjdkfjsfksl
            dfsdafjdskfsl
            fsdfjsdkflsdflsf
            fsfksdjfsdklfjsffsfjdkfjsfksl
            dfsdafjdskfsl
            fsdfjsdkflsdflsf
            fsfksdjfsdklfjsf
        </pre>    
        </div>
        <div class="container">
            <h3 id="2">Sub headings</h3>
            <pre>
                fsfjdkfjsfksl
                dfsdafjdskfsl
                fsdfjsdkflsdflsf
                fsfksdjfsdklfjsffsfjdkfjsfksl
                dfsdafjdskfsl
                fsdfjsdkflsdflsf
                fsfksdjfsdklfjsf
            </pre>    
        </div>
        <div class="container">
            <h3 id='3'>Sub headings</h3>
            <pre>
                    fsfjdkfjsfksl
                    dfsdafjdskfsl
                    fsdfjsdkflsdflsf
                    fsfksdjfsdklfjsf
            </pre>    
        </div>
        </div>
        <div class="footer_class">
        <footer>
            <hr/>
            @2023
            <a href="#">Contact Us</a>
            <a href="#">Careers</a>
        </footer>
        </div>
        </div>
    </body>
</html>