<!DOCTYPE html>
<head>
<title> Create Article</title>
<link href={{url_for('static', filename='editor.css')}} rel='stylesheet' type='text/css'/>
</head>
<body>
<form action='/post_article' method = 'POST'>
<div class='editor'>
<input id='title' name='title' placeholder='Title' />
<div id='data'>
<div id='tools'>
<button>Bold</button>
<button>Italic</button>
<button>Strikethrough</button>
</div>
<textarea id='content' rows=20 name = 'content' placeholder='Content..'>
</textarea>
</div>
<input id='preview' type='submit' name='action' value='Preview'/>
<input id='submit' type='submit' name='action' value='Post' />
</div>
</form>
</body>
</html>
