<!DOCTYPE html>
<html>
    <head>
        <title>Layout</title>
        <link href="../static/column.css" rel="stylesheet"/>
    </head>
    <body>
        <section>
            <div class="container">
                <div class="row">
                    <div class="column">
                        <h2>Heading 1</h2>
                        <p>doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uer<br/>
                            doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert<br/>
                            doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert
                        </p>
                    </div>
                    <div class="column">
                        <h2>Heading 1</h2>
                        <p>doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uer<br/>
                            doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert<br/>
                            doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert
                        </p>
                    </div>
                    <div class="column">
                        <h2>Heading 1</h2>
                        <p>doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uer<br/>
                            doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert<br/>
                            doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert
                        </p>
                    </div>
                </div>
                <div class="row">
                        <div class="column">
                            <h2>Heading 1</h2>
                            <p>doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uer<br/>
                                doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert<br/>
                                doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert
                            </p>
                        </div>
                        <div class="column">
                            <h2>Heading 1</h2>
                            <p>doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uer<br/>
                                doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert<br/>
                                doler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uertdoler ipssum doler uert
                            </p>
                        </div>
                </div>
            </div>
        </section>
    </body>
</html>