<!DOCTYPE html>
<html>
    <head>
        <title>
        Sign Up
        </title>
        <link href={{url_for('static', filename = 'login_signup_forms.css')}} rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <div class='main'>
            <div class='form-container'>
                <div class='logo'>
                    <a href={{url_for('home')}}>
                        <img alt='logo' src={{url_for('static', filename = 'logo_new_small.png')}}/>
                    </a>
                </div>
                <form method='POST' action='/signup'>
                    <input type='text' name='username' placeholder='Enter Username'/>
                    <input type='password' name='password' placeholder='Enter password'/>
                    <input id='submit' type='submit' value='Sign Up'/>
                </form>
                <p>Already a member..? <a href={{url_for('login_page')}}>Login</a></p>
            </div>
        </div>
    </body>
</html>
