html,body{
    margin : 0;
    padding : 0;
    color : #5c5c5c;
    background-color : #fff;
}

a{  
    color : #998585;
    border-bottom-color : rgb(0,0,0,0.31);
    border-bottom-style : solid;
    border-bottom-width : thin;
    text-decoration : none; 
}

a:hover{
    color : #000;
    cursor : pointer;
}

h1, h2, h3, h4, h5, h6{
    color : #511f1f;
}

#parent{
    max-width: 95%;
    margin : 0 auto;
}

